*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* FONT-BODY */
body{
    font-family: 'Raleway';
    height:230vh;
}

#main{
    width: 100%;
    height: 700px;
    /* background: yellow; */
}
#tren{
    width: 100%;
    height: 200px;
    /* background: red; */
    position: absolute;
}

#tren > .font_tren{
    text-align: center;
    position: relative;
    top: 70px ;
}
.name{
      background-color:#000;
        color:#fff;
        display:inline-block;
        padding-left:8px;
        padding-right:8px;
        text-align:center;
    }

/* CONTENT */
#content{
    width: 700px;
    height: 450px;
    /* background: red; */
    position: relative;
    top: 246px;
    left: 40px;
    background-image: url("img/hinh1.jpg"); /*https://2.pik.vn/2021802700b4-080e-492f-9c2a-48933ae8dffb.jpg*/
    background-repeat: no-repeat;
    border: 1px solid;
    padding: 10px;
    box-shadow: 6px 6px 6px 6px  rgba(0, 87, 0, 0.1);
    
}

#content > .title{
      position: relative;
      top: 221px;
      left: 20px;
      font-size: 25px;
}
#content > .title_2{
    position: relative;
    top: 234px;
    left: 20px;
    font-size: 15px;
}
#content > .day{
    position: relative;
    top: 233px;
    left: 20px;
}
#content > .day_tren{
    opacity: 0.7;
    position: relative;
    top: 216.1px;
    left: 152px;   
}
#content > .readmore > a{
    position: relative;
    color: black;
    top: 259px;
    left: 20px;   
    text-decoration: none;
    width: 250px;
    padding: 10px;  
    border: 2px solid #dddd;
}
#content > .readmore> a:hover {
    background-color: #dddd;
}
#content > .cmt{
    font-weight: bold;
    position: relative;
    top: 240px;
    left: 563px;
}
#content > .cmt_2{
    font-weight: bold;
    position: relative;
    top: 220px;
    left: 650px;
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
}
/* CONTENT-DUOI */
#duoi{
    width: 700px;
    height: 450px;
    /* background: red; */
    position: relative;
    left: 40px;
    top: 67px;
    background-image: url("img/hinh2.jpg"); /*https://2.pik.vn/202130bdbcf9-3571-4d36-9210-77ad9d8b5c1d.jpg*/
    background-repeat:no-repeat ;
    border: 1px solid;
    padding: 10px;
    box-shadow: 6px 6px 6px 6px  rgba(0, 87, 0, 0.1);
    
}
#duoi > .title_3{
    position: relative;
    top: 221px;
    left: 20px;
    font-size: 25px;
}
#duoi > .title_4{
    position: relative;
    top: 234px;
    left: 20px;
    font-size: 15px;
}
#duoi > .day_2{
    position: relative;
    top: 233px;
    left: 20px;
}
#duoi > .day_tren_2{
    opacity: 0.7;
    position: relative;
    top: 216.1px;
    left: 152px;     
}
#duoi > .readmore_2 > a{
    position: relative;
    color: black;
    top: 259px;
    left: 20px;   
    text-decoration: none;
    width: 250px;
    padding: 10px;  
    border: 2px solid #dddd;;
}
#duoi > .readmore_2 > a:hover {
        background-color: #dddd;
}
#duoi > .cmt_3{
    font-weight: bold;
    position: relative;
    top: 240px;
    left: 563px;
}
#duoi > .cmt_4{
    font-weight: bold;
    position: relative;
    top: 220px;
    left: 650px;
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
}
/* MYNAME */
#my_name{
    width: 400px;
    height: 400px;
    /* background-color: red; */
    position: relative;
    left: 900px;
    top: -1087px;
    background-image: url("img/hinh3.jpg"); /*https://2.pik.vn/2021fa97fd26-06b3-453b-b983-e0d56ce7261d.jpg*/
    background-repeat: no-repeat;
    padding: 10px;  
    border: 2px solid #dddd;
    box-shadow: 6px 6px 6px 6px  rgba(0, 87, 0, 0.1);
}
#my_name > .ten{
    position: relative;
    top: 254px;
    left: 7px;
    font-size: 17px;
}

#my_name > .ten_duoi{
    position: relative;
    top: 264px;
    left: 7px;
    font-size: 15px;
}
/* MENU */
#menu{
    width: 400px;
    height: 400px;
    /* background:red; */
    position: relative; 
    top: -1064px;
    left: 899px;
    box-shadow: 1px 1px 1px 2px rgba(0, 87, 0, 0.1);
}

#menu > .menu_2{
    width: 400px;
    height: 70px;
    background: #f1f1f1;
}

#menu > .menu_2 > .text{
    position: relative;
    top: 29px;
    left: 18px;
    font-size: 20px;
}
/* TAG */
#tag{
    width: 400px;
    height: 120px;
    /* background: red; */
    position: relative;
    top: -1037px;
    left: 900px;
    box-shadow: 1px 1px 1px 2px rgba(0, 87, 0, 0.1);
}
#tag > .tag_title{
    width: 400px;
    height: 40px;
    background:#f1f1f1 ;
}
/* END*/
#end{
    width: 100%;
    height: 180px;
    background: #616161;
    position: relative;
    top: 400px;
}

#ontop > a{
    position: relative;
    color: white;
    top: 50px;
    left: 35px;
    text-decoration: none;
    width: 250px;
    padding: 10px;  
    border: 2px solid black ;;
}
#next > a{
    position: relative;
    color: white;
    top: 31px;
    left: 116px;
    text-decoration: none;
    width: 250px;
    padding: 10px;  
    border: 2px solid black ;;
}
/* HOVER-END */
#ontop > a:hover{
    color: #000;
    background-color: #dddd;
    }
#next > a:hover{
        color: #000;
        background-color: #dddd;
        }
#end > .thawngs{
    padding-top: 65px;
    padding-left: 30px;
}
    
